---
layout: default
archive: false
---

<main>
    <article>
        <header>
            <h1 class="page-title">{{ page.title }}</h1>
            <p class="page-subtitle">
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                {% if page.categories.size > 0 %}
                    &middot; {{ page.categories | array_to_sentence_string }}
                {% endif %}
            </p>
        </header>

        <section class="md-reader" style="margin-top: 4rem;">
            {% include toc.html html=content %}
            {{ content }}
        </section>

        {% if page.archive %}
        <section class="archive-list">
            <h2>Archive</h2>
            <ul>
                {% for post in site.posts %}
                <li>
                    <a class="archive-title" href="{{ post.url }}">{{ post.title }}</a>
                    <span class="archive-date">{{ post.date | date: "%Y-%m-%d" }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% unless page.comments == false %}
        <section class="comments">
            {% include disqus.html %}
        </section>
        {% endunless %}
    </article>
</main>
